{% extends "base_auth.html" %}

{% block titulo %}Recuperar contraseña{% endblock %}

{% block contenido %}

<h4 class="text-center mb-3">Recuperar contraseña</h4>

{% if error %}
  <div class="alert alert-danger text-center">{{ error }}</div>
{% endif %}

<form method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <input type="email" name="correo" class="form-control" placeholder="Correo electrónico" required>
  </div>

  <button class="btn btn-main w-100">
    <i class="bi bi-envelope"></i> Enviar código
  </button>
</form>

<div class="text-center mt-3">
  <a href="{% url 'login' %}">Volver al inicio de sesión</a>
</div>

{% endblock %}